<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  https://axelor.com/xml/ns/object-views/object-views_6.0.xsd">

  <menuitem name="menu-contact-root" title="Contact" if="__config__.app.isApp('contact')"
    icon="fa-address-card"/>

  <menuitem name="menu-contact-book" parent="menu-contact-root" title="Address Book"
    icon="fa-address-book"/>


</object-views>